*{
    margin: 0;
    padding: 0;
    width:100%;
    background-image: url('thebackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "cursive";
}

@media only screen and (max-width: 600px) {

                /* Start index page */

    .container{
        /* border: 1px solid red;  */
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .logo{
        /* border: 1px solid blue;  */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* لو ابغا ارفع شوي العب هنا */
        margin-top:40%;
        gap: 10%;
    }
    .logo #logoname{
        margin-bottom: 4%;
        width: 60%;
    }
    .logo #logoimg{
        width: 50%;
    }

   .login {
    /* border: 1px solid blue;  */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
   }
   /* .login #inputbox{
        width: 50%;
        height: 6vh;
        border: none;
        background: #FFE7CE;
        color: #7d7a7a; 
        text-align: center;
       } */
    .login button{
        font-weight:bolder ;
        font-size: x-large;
        text-align:center;
        width: 50%;
        height: 6vh;
        border: none;

       }

    /* End index page */
    
    /* Start main page */

    .nav p{
        border: 1px solid rgb(0, 255, 17); 
        margin: 10px;
        margin-top: 30px;
        text-align: center; 
    }

    .text{
        /* border: 1px solid rgb(0, 255, 17);  */
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .text img{
        /* border: 1px solid rgb(255, 179, 0);  */
        width: 70%;
    }
    .Cards{
        /* border: 1px solid rgb(93, 0, 255);  */
        display: flex;
        flex-direction: column;
    }

    .thecard{
    /* border: 1px solid rgb(93, 0, 255);  */
    display: flex; 
    flex-direction: column;
    align-items: center; 
    }
    .thecard img{
    /* border: 1px solid rgb(93, 0, 255);  */
    width: 50%; 
    margin-bottom: 20%;      }

/* 
اعدل بعد ماسوي جافا

.btucard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;          
}

    .btucard button{
        margin: 5% 10%;
        font-weight:bolder ;
        font-size: x-large;
        text-align:center;
        width: 20%;
        height: 6vh;
        border: none;

    }   */

        /* End main page */



                /* start result page */
            
                .all{
                    /* border: 1px solid #383D50; */
                    background: #383d50;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    font-weight:lighter ;
                    font-size: 120%;
                    color:#FF6666;
                    border-radius: 40px;
                    width: 50%;
                    height: 50vh;
                    margin-top:35% ;
                    margin-left:25%;
                }
                .all p{
                    margin-top:20% ;
                    background: #383d50f8;
    
                }
                .all img{
                    margin-top:20% ;
                    background: #383d50f8;
    
                }
    
                     /* end result page */

}

@media only screen and (min-width: 992px){

            /* Start index page */

    .container{
        /* border: 1px solid red;  */
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;

    }
    .logo{
        /* border: 1px solid blue;  */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* لو ابغا ارفع شوي العب هنا */
        margin-top: 10%;
        gap: 3%;
    }
    .logo #logoname{
        margin-bottom: 4%;
        width: 40%;
    }
    .logo #logoimg{
        width: 40%;
        /* position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite; */
    }
    
/* @keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:0px;}
    75%  { left:0px; top:0px;}
    100% {left:0px; top:0px;}
  } */

   .login {
    /* border: 1px solid blue;  */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
   }

    .login button{
        font-weight:bolder ;
        font-size: x-large;
        text-align:center;
        width: 50%;
        height: 6vh;
        border: none;

       }
    /* End index page */


        /* Start main page */

        .nav p{
            border: 1px solid rgb(0, 255, 17); 
            margin: 10px;
            margin-top: 30px;
            text-align: center; 
        }

        .text{
            /* border: 1px solid rgb(0, 255, 17);  */
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
        }
        .text img{
            /* border: 1px solid rgb(255, 179, 0);  */
            width: 70%;
        }
        .Cards{
            /* border: 1px solid rgb(93, 0, 255);  */
            display: flex;
            flex-direction: column;
        }

        .thecard{
        /* border: 1px solid rgb(93, 0, 255);  */
        display: flex; 
        flex-direction: row;
        align-items: center; 
        }

    .btucard{
      display: flex;
      flex-direction: row;
      justify-content: center;          
    }
        .btucard button{
            margin: 5% 10%;
            font-weight:bolder ;
            font-size: x-large;
            text-align:center;
            width: 20%;
            height: 6vh;
            border: none;
    
        }  

                /* End main page */

                /* start result page */
            
                .all{
                /* border: 1px solid #383D50; */
                background: #383d50;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-weight:lighter ;
                font-size: 200%;
                color:#FF6666;
                border-radius: 40px;
                width: 50%;
                height: 100vh;
                margin-top:6% ;
                margin-left:25%;
            }
            .all p{
                margin-top:10% ;
                background: #383d50f8;

            }
            .all img{
                margin-top:10% ;
                background: #383d50f8;

            }
                 /* end result page */



}